@{
    ViewData["Title"] = "Home Page";
}

<div class="line-item">
    <h1 class="display-4">Normal Page</h1>
    <br>Application: @Model.Application (@Model.Version)</br>
    <br>Host Name: @Model.HostName</br>
    <br>IP Address: @Model.IpAddress</br>
</div>
